body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
}

ul{
    margin: 10px 650px;
    font-size: large;
}

li{
    padding: 15px auto;
    margin-bottom: 5px;
}